<div> 
    <!--
    <ul>  
        <li ng-repeat="unArea in listaAreas" class="item">             
                <span class="col-md-6">{{unArea.nombre}}</span>              
                <button ng-click="editar(unArea)" class="btn btn-default">Editar</button>   
                <button ng-click="borrar(unArea)" class="btn btn-danger">Borrar</button>                          
        </li> 
    </ul>
    ng-init="listaAreas= areaServiceREST.listarAreas()"
    ng-controller="listaAreaController as view" ng-init="getLista"
     -->
    <div class="table-responsive"> 
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Área de la empresa</th>
                    <th>Edición</th>
                    <th>Eliminación</th>                    
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="unArea in listaAreas">
                    <td><span>{{unArea.id}}</span></td>
                    <td><span>{{unArea.nombre}}</span></td>
                    <td ><button ng-click='goNext("/area/"+unArea.id)' class="btn btn-default">Editar</button></td>                    
                    <td ><button ng-click="borrar(unArea)" class="btn btn-danger">Borrar</button></td>
                </tr>
            </tbody>
        </table>
        <p>Elemento para borrar: <span>{{area.nombre}}</span></p>
        <p>{{i}}</p>
        <p>{{f}}</p>
    </div>         
</div>