<html ng-app="lab04">
    <head>
        <meta charset="utf-8"></meta>
        <link rel="stylesheet" type="text/css" href="style.css">  
        <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
        <script type="text/javascript" src="app.js"></script>
    </head>
    <body>
        <div>
            <h1>Laboratorio 04</h1>
            <div ng-controller="sumador">
                <h2>Suma</h2>
                <p>1 + 3 = {{result}}</p>             
                <button ng-click="randomIncrement()">Refrescar</button>                
                <p ng-class="{true:'estilo1', false:'estilo2'}[par]"> 
                    La mitad del valor de test <span ng-bind="mitadValor"></span>
                </p>                
                <p>La mitad del valor de test INICIAL es <span>{{ ::mitadValor}}</span></p> 

                <ul class="lista">  
                    <li ng-repeat="h in historial" class="item">
                        <div>{{h.indice}} : {{h.valor}} </div>
                    </li>                 
                </ul>

            </div>
            <div ng-controller="restador">
                <h2>Resta - Controlador adicional</h2>
                <p>3 - 1 = {{resta}}</p>
            </div>            
        </div>

    </body>
</html>